nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      each val in user.permission
        li.nav-item
          a.nav-link(class=activePage==val.name ? "active" : "", href=val.url) #{val.text}