<link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/assets/plugins/css/ionicons.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/assets/plugins/iCheck/flat/blue.css">
<!-- Morris chart -->
<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<!-- Date Picker -->
<link rel="stylesheet" href="/assets/plugins/datepicker/datepicker3.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker-bs3.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="/assets/plugins/css/google_font.css">

<link rel="stylesheet" href="/assets/css/style.css">
<!-- DataTables -->
<link rel="stylesheet" href="/assets/plugins/datatables/dataTables.bootstrap4.min.css">

<!-- jquery.fileTree-1.01 -->
<link rel="stylesheet" href="/assets/js/plugins/jquery.fileTree-1.01/css/jqueryFileTree.css">
<!-- //bootstrap4 -->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">

<!-- jquery context menu -->
<link rel="stylesheet" href="/assets/plugins/context-menu/css/jquery.contextMenu.css">