doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title}
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    include partials/styles
    block styles
  body
    .wrapper#app
      block modal
      // nav.main-header.navbar.navbar-expand.bg-white.navbar-light.border-bottom
      section.content-header
        .container-fluid
          .row
            .col-sm-4
            .col-sm-4
              h1 #{title}
      section.content
        #tmp(style="min-height: 680px !important;")
          block content
      // include partials/footer
  include partials/scripts
  block scripts
  if activePage != ''
    script(src='/assets/pages/' + activePage + '.js')
  if activePage == 'route-config'
    script(src='/assets/js/routeDiagram.js')
