extends ../layout

block styles
  style(type='text/css').
    div.senderModal {
      width: 900px;
      max-width: 900px;
    }

block content
  include ../partials/spinner
  .container-fluid
    .row.justify-content-center.pt-2
      .col-10.border.rounded.pt-2.mb-2
        .row
          .col-12.text-right
            .btn-group
              button.btn.btn-primary(type='button' data-toggle='button' aria-pressed='false' autocomplete='off', @click="onBtnSearchClick") Search
              button.btn.btn-primary(type='button' data-toggle='button' aria-pressed='false' autocomplete='off', @click="onMarkAsRead") Mark As Read
        .row
          .col-12
            form
              .form-row
                .form-group.col-md-4
                  label(for='recipientText') Sender
                  input#recipientText.form-control(type='text' placeholder='Sender', v-model='searchData.sender')
                .form-group.col-md-4
                  label(for='groupText') Group
                  input#groupText.form-control(type='text' placeholder='Group', v-model='searchData.group')
                .form-group.col-md-4
                  label(for='messageNameText') Message Name
                  input#messageNameText.form-control(type='text' placeholder='Message Name', v-model='searchData.messageName')
              .form-row
                .form-group.col-md-4
                  label Send Time
                  .input-group
                    .input-group-prepend
                      span.input-group-text
                        i.fa.fa-calendar
                    input#sendTimeDate.form-control.float-right(type='text', maxLength='46', readonly, style="background : white")
                .form-group.col-md-4
                  label Recv Time
                  .input-group
                    .input-group-prepend
                      span.input-group-text
                        i.fa.fa-calendar
                    input#recvTimeDate.form-control.float-right(type='text', maxLength='46', readonly, style="background : white")
      .col-10.border.rounded.pt-2.mb-2
        .table-responsive
          table#messageTable.table.table-bordered.table-hover(style="width : 100%")
            thead
              tr
                th(scope='col' id='selectAllMessage') 
                  input#checkboxAll(type='checkbox' disabled)
                  | &nbsp All
                th(scope='col') Sender
                th(scope='col') Group
                th(scope='col') Send Time
                th(scope='col') Recv Time
                th(scope='col') Message Name
                th(scope='col') Status
    #recievedMessageDialog.modal.fade(role='dialog')
      .modal-dialog.senderModal
        // Modal content
        .modal-content
          .modal-header
            h4.modal-title Received Message
            button.close(type='button' data-dismiss='modal') &times;
          .modal-body
            .card-body
              .row
                .col-md-12
                  form#form-section
                    .form-group.row
                      label.col-sm-2.col-form-label(for='senderText') Sender
                      .col-sm-4
                        input#senderText.form-control(type='text' placeholder='Sender', v-model='selectedMessage.SENDER_ID')
                      label.col-sm-2.col-form-label(for='messageGroupText') Message Group
                      .col-sm-4
                        input#messageGroupText.form-control(type='text' placeholder='Message Group', v-model='selectedMessage.GROUP_ID')
                    .form-group.row
                      label.col-sm-2.col-form-label(for='messageNameText') Message Name
                      .col-sm-10
                        input#messageNameText.form-control(type='text' placeholder='Message Name', v-model='selectedMessage.NAME')
                    .form-group.row
                      label.col-sm-2.col-form-label(for='contentMessageText') Content
                      .col-sm-10
                        textarea#contentMessageText.form-control(rows='7', v-model='selectedMessage.CONTENT')

block scripts