extends ../layout

block styles
  style(type='text/css').
    .history-label {
      color: #007BFF;
      font-weight: 500 !important;
      cursor: pointer;
    }
    .history-label:hover {
      color:#453af0;
    }

block content
  include ../partials/spinner
  .container-fluid
    .row
      .col-md-8
        .card.card-default
          .card-header
            h3.card-title User
          .card-body
            .row
              .card(style="width: 100%")
                .card-body
                  .text-right
                    .btn-group
                      button.btn.btn-primary(@click="onBtnSearchClick") Search
                      button.btn.btn-primary(@click="onAddUser") Add
                      button.btn.btn-primary(@click="onSaveUser") Save
                  .row
                    .col-md-6
                      .form-group
                        label User Id
                        .input-group
                          input#user_id.form-control(type='text' v-model='userId')
                    .col-md-6
                      .form-group
                        label User Type
                        .input-group
                          input#user_type.form-control(type='text' v-model='userType')
                        
            .row(style="margin-top: 10px")
              table.table.table-hover.table-bordered#table_user_list
                tbody
                  tr
                    th.text-center(style="display:none") flag
                    th.text-center Del
                    th.text-center system id
                    th.text-center user id
                    th.text-center user type
                    th.text-center updated
                    th.text-center action
                  tr(v-for="(user, key) in userList")
                    td.text-center(colName="FLAG" style="display:none") {{user.FLAG}}
                    td.text-center(colName="DEL")
                      input(type="checkbox")
                    td.text-center(colName="SYSTEM_ID" style="cursor: pointer") {{user.SYSTEM_ID}}
                    td.text-center.editable-cell(colName="USER_ID" contenteditable="true") {{user.USER_ID}}
                    td.text-center.editable-cell(colName="USER_TYPE" contenteditable="true") {{user.USER_TYPE}}
                    td.text-center(colName="UPDATED") {{user.UPDATED}}
                    td.text-center
                      label.history-label(v-if="user.SYSTEM_ID !== ''") history
      .col-md-4
        .card.card-default
          .card-header
            h3.card-title Group
          .card-body
            .text-right(style="margin-bottom:10px")
              .btn-group
                button.btn.btn-primary(@click="onAddGroup") Add
                button.btn.btn-primary(@click="onSaveGroup") Save
           
            table.table.table-hover.table-bordered#table_group_list
              tbody
                tr
                  th.text-center(style="display:none") FLAG
                  th.text-center Del
                  th.text-center(style="display:none") system id
                  th.text-center group id
                tr(v-for="group in groupList")
                  td.text-center(style="display:none" colName="FLAG") {{group.FLAG}}
                  td.text-center(colName="DEL")
                    input(type="checkbox")
                  td.text-center(style="display:none" colName="SYSTEM_ID") {{group.SYSTEM_ID}}
                  td.text-center(colName="GROUP_ID" v-bind:contenteditable="group.SYSTEM_ID !== '' ? false : true") {{group.GROUP_ID}}
block scripts